<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Suite">
    <listeners>
        <listener class-name="ExtentReports.ExtentListeners"/>


    </listeners>

    <test name = "Validating HomePage">
        <classes>
            <class name="Academy.HomePage" />
        </classes>
    </test>
    <test name = "Validating Login">
    <classes> <class name="Academy.LoginTest" /></classes>
    </test>
           <test name = "Validating Navigation">
               <classes>
                   <class name="Academy.validateNavigationTest" />
               </classes>
           </test>



</suite>